.register-con{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: gray;
}
.register-container{
    width: 350px;
    height: 550px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}
.register-title{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}
.form-items{
    display: flex;
    flex-direction: column;
}
.register-form-con-lbl{
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.register-form-con-input{
    width: 330px;
    height: 35px;
    outline: none;
}
.form-submit-btn{
    width: 250px;
    height: 32px;
    outline: none;
    border: none;
    background-color: green;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    margin-left: 50px;
    border-radius: 4px;
    cursor: pointer;
}
.form-account-p{
    margin-left: 90px;
}
.form-account-span{
    border: none;
    outline: none;
    color: blue;
    text-decoration: underline;
    background-color: inherit;
}
.cancel-btn{
    width: 250px;
    height: 32px;
    outline: none;
    border: none;
    background-color: red;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    margin-left: 50px;
    border-radius: 4px;
    cursor: pointer;
}